/* skills */
#skills{
    background-color: #212b36;
    color:#f5f5f5;
    text-align: center;
    padding: 80px 5%;
}
.skill{
    margin:25px 0 0 0;
}
.skill > div{
    width:60%;
    height:15px;
    background-color:#fff;
}
.skill>div>div{
    height:100%;
    background-color: #41b548;
}
.front{
    width:100%;
    animation: front 1s ease;
}
.back{
    width:90%;
}
.api-percent{
    width:85%;
}
.database{
    width:95%;
}
.testing{
    width:80%;
}
.ci-cd{
    width:90%;
}
.skill h4{
    font-size: 18px;
}